In [1]:
# Bayesian AB Test Code  < ref: Will Kurt>

In [2]:
# Dash Report

# composed of dash components (input), plotly graph (output), callback (interactivity function)

import pandas as pd
import plotly.express as px

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
from jupyter_dash import JupyterDash

# -------------------------------------------
# Import and clean data

raw = pd.read_csv('intro_bees.csv')
display(raw)

df = raw.groupby(['State', 'ANSI', 'Affected by', 'Year', 'state_code'])['Pct of Colonies Impacted'].mean().reset_index()
#df.reset_index()
display(df)

,Program,Year,Period,State,ANSI,Affected by,Pct of Colonies Impacted,state_code
0,SURVEY,2019,JAN THRU MAR,Alabama,1,Disease,1.8,AL
1,SURVEY,2019,JAN THRU MAR,Alabama,1,Other,3.1,AL
2,SURVEY,2019,JAN THRU MAR,Alabama,1,Pesticides,0.3,AL
3,SURVEY,2019,JAN THRU MAR,Alabama,1,Pests_excl_Varroa,22.7,AL
4,SURVEY,2019,JAN THRU MAR,Alabama,1,Unknown,9.0,AL
...,...,...,...,...,...,...,...,...
4585,SURVEY,2015,OCT THRU DEC,Wyoming,56,Other,11.3,WY
4586,SURVEY,2015,OCT THRU DEC,Wyoming,56,Pesticides,10.5,WY
4587,SURVEY,2015,OCT THRU DEC,Wyoming,56,Pests_excl_Varroa,3.3,WY
4588,SURVEY,2015,OCT THRU DEC,Wyoming,56,Unknown,3.9,WY
4589,SURVEY,2015,OCT THRU DEC,Wyoming,56,Varroa_mites,45.0,WY

        State  ANSI   Affected by  Year state_code  Pct of Colonies Impacted
0     Alabama     1       Disease  2015         AL                     0.050
1     Alabama     1       Disease  2016         AL                     1.200
2     Alabama     1       Disease  2017         AL                     2.250
3     Alabama     1       Disease  2018         AL                     1.300
4     Alabama     1       Disease  2019         AL                     1.800
...       ...   ...           ...   ...        ...                       ...
1345  Wyoming    56  Varroa_mites  2015         WY                    23.375
1346  Wyoming    56  Varroa_mites  2016         WY                    19.475
1347  Wyoming    56  Varroa_mites  2017         WY                    23.525
1348  Wyoming    56  Varroa_mites  2018         WY                    22.425
1349  Wyoming    56  Varroa_mites  2019         WY                     0.700

[1350 rows x 6 columns]

In [37]:

# -------------------------------------------
# App layout
app = JupyterDash(__name__)


app.layout = html.Div([
    html.H1("Web Application Dashboards with Dash", style= {'text-align':'center'}),
    
        dcc.Dropdown(id = 'slct_year',
                    options=[
                        {"label":"2015","value":2015},
                        {"label":"2016","value":2016},
                        {"label":"2017","value":2017},
                        {"label":"2018","value":2018}
                    ],
                    multi=False,
                    value=2015,
                    style={'width':'40%'}
                    ),
    
        html.Div(id = 'output_container', children=[]), # selected input placeholder
        html.Br(),
    
        dcc.Graph(id='my_bee_map', figure={}) # graph placeholder
])

In [38]:
# ----------------------------------------------
# Connect the Plotly graphs with Dash Components
@app.callback(
    [Output(component_id = 'output_container', component_property='children'),
     Output(component_id = 'my_bee_map', component_property='figure')],
    [Input(component_id = 'slct_year',component_property='value')]
)

def update_graph(option_slctd):
        print(option_slctd)
        print(type(option_slctd))
        
        container = "The year chosen by user was {}".format(option_slctd)
        
        dff = df.copy()
        dff = dff[dff['Year']==option_slctd]
        dff = dff[dff['Affected by']== "Varroa_mites"]
        
        fig = px.choropleth(
            data_frame = dff,
            locationmode = 'USA-states',
            locations='state_code',
            scope='usa',
            color = 'Pct of Colonies Impacted',
            hover_data = ['State', 'Pct of Colonies Impacted'],
            color_continuous_scale = px.colors.sequential.YlOrRd,
            labels = {'Pct of Colonies Impacted': '% of Bee Coloniesssspleaserunnowyourun'},
            template = 'plotly_dark'
        )
        
        return container, fig

In [39]:
# ----------------------------------------------
# this runs when app is reset, run from # App layout 
if __name__ == '__main__':
        app.run_server(port=8050, mode='inline') #mode inline or new browser tab

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/jupyter_dash/jupyter_app.py:139: UserWarning:

The 'environ['werkzeug.server.shutdown']' function is deprecated and will be removed in Werkzeug 2.1.

2015
<class 'int'>

In [ ]:
3+4